.markdown h1 {
    @apply font-bold text-2xl md:text-3xl mb-2;
}

.markdown h2 {
    @apply font-semibold text-xl md:text-2xl mb-2;
}

.markdown h3 {
    @apply font-semibold text-lg md:text-xl mb-2;
}
.markdown h4, .markdown h5, .markdown h6 {
    @apply font-semibold mb-1;
}

.markdown p {
    @apply mb-2;
}